h1{
    text-align: center;
    color: aqua;
}
body{
    background-image: url('https: //i.ibb.co/Qr49647/IMG-3139.jpg');
    background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        -webkit-background-size: cover;
        -webkit-background-repeat: no-repeat;
        -webkit-background-position: center center;
        
}
