body {
  background-image: url(img/IMG_3139.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  font-family: sans-serif;
}
h1 {
  text-align: center;
  color: rgba(208, 217, 217, 0.553);
  font-size: 400%;
  width: 50%;
  border: 3px solid green;
  display: inline-block;
  position: relative;
  left: 25%;
}
#div {
  border: 3px solid green;
  display: inline-block;
  position: absolute;
  right: 3%;
}
h2 {
  text-align: center;
  font-size: 400%;

  color: aliceblue;
  border: 3px solid green;
}
p {
  color: chartreuse;
  font-size: 150%;
  border: 3px solid green;
  display: inline list-item;
  margin: 15px;
}
input {
  display: block;
  margin-bottom: 5px;
  background-color: yellowgreen;
}
span {
  color: rgba(53, 23, 205, 0.848);
}
.label {
  color: aliceblue;
}
#divP {
  border: 3px solid green;
  position: relative;
  text-align: center;
  width: 50;
  margin: 10px;
}
#loren {
  font-style: bold;
  font-size: larger;
  border: 3px solid green;
  position: relative;
  text-align: center;
  width: 50;
}
